.heading {
  margin-bottom: 2rem;
}

.content {
  margin-top: 2rem;
}

.account {
  font-size: .875rem;
  p {
    font-weight: 500;
    margin-bottom: .25rem;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}