.root {
  border-bottom: 1px solid #e0e0e0;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  margin-bottom: 0;
}

.rightMenu {
  @extend .menu;
  margin-left: auto;
}

.menuItem {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: #000;
    &.active {
      text-decoration: underline;
    }
  }
}

