.background {
  background-image: url('../../bg.jpg');
  background-size: cover;
  min-height: 100vh;
}

.header {
  margin-bottom: 1rem;
}

.contentWrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: .5rem;
  margin-top: 2rem;
}